<%- contentFor('css') %>
    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 85vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }
        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
<%- contentFor('body') %>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            <%= trans('common.project_name') %>
        </div>
        <div class="links">
            <a href="https://nodejs.org/en/docs/" target="_blank">Docs</a>
            <a href="http://expressjs.com/en/api.html" target="_blank">Express JS</a>
            <a href="https://ejs.co/" target="_blank">Express Ejs</a>
            <a href="https://handlebarsjs.com/" target="_blank">Handlebars</a>
            <a href="https://express-validator.github.io/docs/" target="_blank">Express Validator</a>
        </div>
    </div>
</div>
