<footer class="footer">
  <div class="footer__block block no-margin-bottom">
    <div class="container-fluid text-center">
      <p class="no-margin-bottom"> &copy; 2021 </p>
    </div>
  </div>
</footer>
